*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbg{
  color:  #a2d9ce;
}
.navbar{
  background-color: ;
}
 .navbar-brand{
  color: orangered !important;
  font-size: 1.9rem !important;
  font-family: 'Newsreader', serif;
  font-weight: bold;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid orangered;
  font-family: 'Newsreader', serif;
}
.navv{
  color: tomato;
}
.nav-link{
  font-family: 'Newsreader', serif;
  font-size: 1rem;
  font-weight: bold;
}
.menu{
  font-family: 'Newsreader', serif;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}
.jumbotron{
  background-color: #f9b42d  ;
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  padding: 30px 0;
  font-size: 70px;
}
.scititle{
  color: #00008B;
  font-family: 'Newsreader', serif;
  font-weight: bold;
  text-align: center;
}
.scidec{
  text-align: center;
}
